* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
ul {
  list-style: disc;
}

.header-section {
  max-width: 750px;
  margin: 0 auto;
}
.sub-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--primary);
  text-transform: uppercase;
  margin-bottom: 5px;
}
.header-section h3 {
  color: var(--title-color);
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}
.header-section p {
  max-width: 750px;
  margin: 0 auto;
}
.header-section p {
  color: var(--text-color);
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
.products-content h3 {
  color: var(--title-color);
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
.products-content p {
  color: var(--text-color);
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 24.5px;
}
img.img-curve {
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}
img.img-curve:hover {
  transform: translateY(-0.5rem);
  transition: 0.3s ease-in-out;
}
.theme-button {
  transition: 0.3s ease-out;
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-1 {
  color: #dc4f72;
  border-color: #dc4f72;
}
.btn-2 {
  color: white;
  background-color: #dc4f72;
  border-color: #dc4f72;
}
.btn:hover,
body button:hover {
  transition: 0.5s all;
}
.btn-1:hover {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
}
.btn-2:hover {
  color: #fff;
  background-color: #d73b62;
  border-color: #dc4f72;
}
.nav-tabs {
  display: flex;
  justify-content: space-evenly;
  border-bottom: none;
}
.nav-link-new {
  flex: 1;
  display: inline;
  padding: 0;
  background-color: white;
  position: relative;
  border: none;
  font-size: 24px;
}
.nav-link-new h2 {
  border-bottom: 5px solid gray;
  padding: 10px 0;
}
.nav-link-new.active h2 {
  border-bottom: 5px solid #dc4f72;
  color: #dc4f72;
}
#nav-tab-2 {
  display: none;
}
.slider-info {
  max-width: 95%;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 50px;
  background-color: var(--bg-color);
  border-radius: var(--card-curve);
}
.message {
  position: relative;
}
.message span {
  font-size: 30px;
  color: var(--title-color);
  opacity: 0.2;
  position: absolute;
  top: 0px;
  left: -40px;
  right: 0;
}
.message p {
  font-size: 18px;
  line-height: 26px;
  color: var(--title-color);
}
.name h4 {
  font-size: 18px;
  color: #dc4f72;
  font-weight: 400;
}
.w3l-testimonials .name p {
  font-size: 13px;
  color: #333;
}
.img-circle {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 50%;
  border: 3px solid #dc4f72;
}
.fa-quote-left:before {
  content: " '' ";
}
.slick-dots li button:before {
  content: "";
  height: 3px;
  width: 25px;
  background-color: #333;
}
.testimonials {
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.77),
      rgba(255, 255, 255, 0.77)
    ),
    url(https://wp.w3layouts.com/masterwork/wp-content/themes/masterwork/assets/images/b2.jpg);
  background-size: cover;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.header-section h3 {
  color: #333;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}
.header-section p {
  color: #222;
  font-size: 16px;
  line-height: 22.5px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
.column ul {
  list-style: none;
}
.column li a {
  color: #656f7b;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  padding: 0;
  text-transform: capitalize;
  text-decoration: none;
}
.column li {
  display: block;
  list-style: none;
  margin: 10px 0;
}
.column li a:hover {
  color: #d73b62;
}
.column li a {
  color: #656f7b;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  padding: 0;
  text-transform: capitalize;
}
.footer h3 {
  font-size: 20px;
  line-height: 25px;
  color: var(--title-color);
  margin-bottom: 30px;
  font-weight: 700;
}
.footer .end-column {
  background-color: white;
  padding: 2em;
  border-radius: 6px;
  box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
}
.footer h4 {
  font-size: 18px;
  line-height: 25px;
  color: var(--title-color);
  margin-bottom: 30px;
  font-weight: 500;
}
.subscribe input[type="email"] {
  background: #f7f9fc;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 78%;
  color: #333;
  font-weight: 600;
  border-radius: 6px;
}
.subscribe button {
  text-align: center;
  background: #dc4f72;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  cursor: pointer;
  width: 20%;
  color: #fff;
  border-radius: 6px;
}
.footer p,
.footer p a {
  line-height: 22px;
  color: #222;
  font-size: 16px;
  text-decoration: none;
}
.footer form {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}
.footer {
  background-color: #f7f9fc;
}
.below-section {
  border-top: 1px solid #d8d8d8;
}
ul.social li,
.footer ul.jst-link li {
  display: inline-block;
  margin-right: 5px;
}
ul.social li a {
  color: var(--title-color);
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}
ul.social li a i {
  font-size: 15px;
  line-height: 36px;
}
@media only screen and (max-width: 991px) {
  .below-section {
    text-align: center;
    display: block !important;
  }
}
@media only screen and (max-width: 768px) {
  #nav-tab {
    display: none;
  }
  #nav-tab-2 {
    display: flex;
  }
  #nav-tabContent {
    display: none;
  }
  .slider-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .nav-tabs {
    border: 1px solid gray;
    flex-direction: column;
  }
  .nav-link-new h2 {
    border-bottom: 1px solid gray;
    padding: 10px;
    text-align: left;
  }
}
